<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login Page</title>
  {{> link}}
  <link rel="stylesheet" href="/css/templatemo-style.css">

</head>

<body>
  <div>
    <nav class="navbar navbar-expand-xl"
      style="color:orange; align-items: center; justify-content:center; font-size: 3rem">
      <a href="/" style="color:orange;">TechHub</a>
    </nav>
  </div>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-12 mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">Welcome to Dashboard, Login</h2>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <form action="" method="post" class="tm-login-form">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      name="username"
                      type="text"
                      class="form-control validate"
                      id="username"
                      value=""
                      required
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control validate"
                      id="password"
                      value=""
                      required
                    />
                  </div>
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase"
                    >
                      Login
                    </button>
                  </div>
              
                  <button class="mt-5 btn btn-primary btn-block text-uppercase">
                    Forgot your password?
                  </button>
                  
                </form>
  
              </div>
              <button type="button" onclick="window.location.href='/google'" class="mt-5 btn btn-primary btn-block text-uppercase">
                <i class="fab fa-google-plus-g"></i> Sign in with Google+
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer }}
  {{> script}}
</body>

</html>