<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="img/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TechHub</title>
    {{> link}}

</head>

<body class="sub_page">

    {{> header}}
    <div class="container">
        <div class="row mt-4">
            <div class="col-9">
                <div class="tm-bg-primary-dark tm-block">
                    <div class="row">
                        <div class="col-lg-6 flex-column">
                            <div class="tm-circular-avatar-container">
                                <img src="/img/avatar.png" />
                            </div>
                            <div class="tm-avatar-title d-flex justify-content-center">Lorem</div>
                        </div>

                        <div class="col-lg-6">
                            <div class="tm-block-info-container flex-column h-100 py-4">
                                <hr class="separator">
                                <div class="row px-3">
                                    <div class="col title">Customer Name</div>
                                    <div class="col text-dark">Lorem</div>
                                    <!--TODO{{name}}-->
                                </div>
                                <hr class="separator">
                                <div class="row px-3">
                                    <div class="col title">Email</div>
                                    <div class="col text-dark">abc@gmail.com</div>
                                    <!--TODO{{email}}-->
                                </div>
                                <hr class="separator">
                                <div class="row px-3">
                                    <div class="col title">Tel</div>
                                    <div class="col text-dark">1234567890</div>
                                    <!--TODO{{tel}}-->
                                </div>
                                <div class="row justify-content-center py-4">
                                    <a class="btn btn-primary text-uppercase" href="">
                                        Update account
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {{> footer}}
    {{> script}}
</body>

</html>